
body{
   background-color: #ffa56d ;
}
                    

/*ENCABEZADO*/
*{
   margin: 0;
   padding: 0;
}

header{
   width: 100%;
   z-index: 5;
   font-family: Arial, Helvetica, sans-serif;
   display: flex;
   position: fixed;
   background-color: #faf5c1;
   justify-content: space-between;
   
}

header div{
   display: flex;
  
}

header .logito img{
   margin: 20px;
   height: 90px;   
}

header .texto{
   font-size: 20px;
   margin-top: 35px;
}
	
.site-name {
		display: block;
		font-weight: 700;
		font-size: 1.2em;
      color: #809cdb;
}
	
.site-desc {
		display: block;
		font-weight: 300;
		font-size: 0.8em;
		color: #dba480;
}



/*BUSCADOR*/

nav .searchbox{
   border: 2px solid #809cdb;
   display: flex;
   margin-top: 36px;
   margin-bottom: 30px;
   margin-left: 30px;
   margin-right: 30px;
   height: 30px;
   line-height: 30px;
}

nav .searchbox input{
   border: none;
   outline: none;
   background-color: #ffae7b;
   height: 100%;
   padding: 0 10px;
   font-size: 20px;
   width: 350px;
}
nav .search_box span{
   color:#809cdb;
   font-size: 20px;
   background: white;
   height: 100%;
   padding: 8px;
   position: relative;
   cursor: pointer;
   z-index: 1;
}
nav .search_box span:hover{
   color: white;
}
nav .search_box span::after{
   height: 100%;
   width: 100%;
   content: '';
   background: #C5EBFE;
   position: absolute;
   top: 0;
   right: 0;
   z-index: -1;
   transition: 0.3s;
}
nav .search_box span:hover::after{
   width: 100%;
}

@media  and (max-width: 1250px) {
   nav{
      display: block;
      padding: 0;
   }
}
nav .search_box{
   width: 100%;
   display: inline-flex;
   justify-content: center;
   margin-bottom: 15px;
}
nav .search_box input{
   width: 90%;
}


/*MAIN*/


@font-face{
    font-family: "letrita";
    src: url(./fonts/letrita21.ttf);
}

.container {
    background-color: #fff;
    margin:20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 2px solid rgba(196, 196, 196, 0.5);
}

.container ::backdrop {
    opacity: 0.5;
}

.tituloMain {
    font-family: letrita;
    width: 100%;
    text-align: center;
    font-weight: bold;
    margin: 30px;
    font-size: 35px;
    text-align: center;
    align-items: center;
}

.tituloMain h3 {
    opacity: 0.6;
    position: relative;
    animation-name: example;
    animation-duration: 3s;

}

.tituloMain img {
    margin-top: -40px;
}
.wrapper{
   max-width: 1200px;
;
}
.wrapper .carousel{
   white-space: nowrap;
   align-content: center;
}
.carousel img{
   height: 340px;
   object-fit: cover;
   width: 220px;
}

.L {
 width: 220px;
 height: 420px;
 border: 2px solid rgba(196, 196, 196, 0.5);
 text-align: center;
 margin: 20px;
}


.L img {
    width: 200px;
    height: 300px;
    padding: 10px;
}


.txt h2{
    font-size: 14px;
}

.txt h1{
    font-size: 18px;
}

hr {
    width: 100px;
}

.intro{
   color: #292929ca;
   font-size: 20px;
   font-family: Arial, Helvetica, sans-serif;
   text-align: center;
   padding-top:180px;

}


@import "./fonts.css";

nav .searchbox{
=======
nav .search_box{
>>>>>>> 26c0f5839635ca07e073d03d45df51fae517dc18
   display: flex;
   margin: auto 0;
   height: 30px;
   line-height: 30px;
}
nav .searchbox input{
   border: none;
   outline: none;
   background-color: white;
   height: 100%;
   padding: 0 10px;
   font-size: 20px;
   width: 350px;
}
nav .searchbox span{
   color: ;
   font-size: 20px;
   background: white;
   height: 100%;
   padding: 8px;
   position: relative;
   cursor: pointer;
   z-index: 1;
}
nav .searchbox span::after
/*CARRUSEL*/
#libro {
    padding-top: 60px;
    padding-bottom: 60px;
    margin: 0 auto;
    width: 1200px;
    max-width: 100%;
    text-align: center;
 }
 #libro input[type=radio] {
    display: none;
 }
 #libro label {
    cursor:pointer;
    text-decoration: none;
 }
 #libros {
    padding: 10px;
    border: 3px solid #ccc;
    background: #fff;
    position: relative;
    z-index: 1;
 }
 #overflow {
    width: 100%;
    overflow: hidden;
 }
 #libro1:checked ~ #libros .inner {
    margin-left: 0;
 }
 #libro2:checked ~ #libros .inner {
    margin-left: -100%;
 }
 #libro3:checked ~ #libros .inner {
    margin-left: -200%;
 }
 #libro4:checked ~ #libros .inner {
    margin-left: -300%;
 }
 #libros .inner {
    transition: margin-left 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
    width: 400%;
    line-height: 0;
    height: 500px;
 }
 #libros .libro {
    width: 25%;
    float:left;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: #fff;
 }
 #libros .libro_1 {
    background: #00171F;
 }
 #libros .libro_2 {
    background: #003459;
 }
 #libros .libro_3 {
    background: #007EA7;
 }
 #libros .libro_4 {
    background: #00A8E8;
 }
 #controls {
    margin: -180px 0 0 0;
    width: 100%;
    height: 50px;
    z-index: 3;
    position: relative;
 }
 #controls label {
    transition: opacity 0.2s ease-out;
    display: none;
    width: 50px;
    height: 50px;
    opacity: .4;
 }
 #controls label:hover {
    opacity: 1;
 }
 #libro1:checked ~ #controls label:nth-child(2),
 #libro2:checked ~ #controls label:nth-child(3),
 #libro3:checked ~ #controls label:nth-child(4),
 #libro4:checked ~ #controls label:nth-child(1) {
    background: url(https://image.flaticon.com/icons/svg/130/130884.svg) no-repeat;
    float:right;
    margin: 0 -50px 0 0;
    display: block;
 }
 #libro1:checked ~ #controls label:nth-last-child(2),
 #libro2:checked ~ #controls label:nth-last-child(3),
 #libro3:checked ~ #controls label:nth-last-child(4),
 #libro4:checked ~ #controls label:nth-last-child(1) {
    background: url(https://image.flaticon.com/icons/svg/130/130882.svg) no-repeat;
    float:left;
    margin: 0 0 0 -50px;
    display: block;
 }
 #bullets {
    margin: 150px 0 0;
    text-align: center;
 }
 #bullets label {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius:100%;
    background: #ccc;
    margin: 0 10px;
 }
 #libro1:checked ~ #bullets label:nth-child(1),
 #libro2:checked ~ #bullets label:nth-child(2),
 #libro3:checked ~ #bullets label:nth-child(3),
 #libro4:checked ~ #bullets label:nth-child(4) {
    background: #444;
 }
 @media screen and (max-width: 900px) {
    #libro1:checked ~ #controls label:nth-child(2),
    #libro2:checked ~ #controls label:nth-child(3),
    #libro3:checked ~ #controls label:nth-child(4),
    #libro4:checked ~ #controls label:nth-child(1),
    #libro1:checked ~ #controls label:nth-last-child(2),
    #libro2:checked ~ #controls label:nth-last-child(3),
    #libro3:checked ~ #controls label:nth-last-child(4),
    #libro4:checked ~ #controls label:nth-last-child(1) {
       margin: 0;
    }
    #libros {
       max-width: calc(100% - 140px);
       margin: 0 auto;
    }
}

 

/*FLOOTER*/
.pie-pagina{
   width: 100%;
   background-color: #6e5028;
}
.pie-pagina .grupo-1{
   width: 100%;
   max-width: 1200px;
   margin: auto;
   display: grid;
   grid-template-columns: repeat(3,1fr);
   grid-gap: 50px;
   padding: 45px 0px;
   
}
.pie-pagina .grupo-1 .box figure{
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
   width: 250%; 
}
.pie-pagina .grupo-1 .box h2{
   color: #fff;
   margin-bottom: 25px;
   font-size: 20px;

}
.pie-pagina .grupo-1 .box p{
   color: #efefee;
   margin-bottom: 10px;

}
.pie-pagina .grupo-1 .red-social a{
   display: inline-block;
   text-decoration: none;
   width: 45px;
   height: 45px;
   line-height: 45px;
   color: #efefee;
   margin-right: 10px;
   text-align: center;
}
a{
   color: #000000;
}
nav a:hover{
   color: #774400;
}
